.blueColor{
    display: flex;
    background-color:  #6c8ff7;
    
    flex-direction: row;
    align-items: center;
    height: 107px;
}
#headerHeight{
    
    font-size: 20px;
    margin-left: 200px;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}




.whiteColor{
    background-color: #ffffff;
}
#height2{
    height: 90px;
    display: flex;  
}
#logo{
    margin-left: 200px;
    margin-top: 20px;   
}
#search{
    margin-left: 860px;
    height: 30px;
    margin-bottom: 10px;
}
#search2{
    margin-top: 30px;
    height: 20px;
    width: 200px;
}




.greyColor{
    background-color: #f2f2f2;
}
#height3{
    
    height: 80px;
}
#list{
    margin-top: 30px;
    margin-left: 750px;
}

#image{
    width: 100%;
    height: 410px;
    
}
#imagetext{
    position: relative;
    
    text-align: center;
  
  
}
#textImg{
top: 32%;
left: 30%;
width: 700px;
font-size: 50px;
font-weight: 600;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
position: absolute;
height: 100px;
color: rgb(255, 255, 255);
}

.whiteColor2{
    background-color: #ffffff;
}
#height4{
    height: 300px;
}
#text123{
    width: 500px;
    
    font-size: 25px;
    font-weight: 640;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 37px;
}

#bigLogo{
    margin-left: 74%;
 margin-top: 10px;
    height: 80px;
}

#newdiv{
    position: relative;
    text-align: center;
}
#boxSize{
    margin-top: 300px;
    margin-left: 235px;
    position: absolute;
    height: 350px;
    width: 260px; 
}
#forLogo{
    margin-top: 30px;
    height: 80px;
}
#fontHeading{
    margin-top: 5px;
    font-size: 27px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#fontText{
    width: 80%;
    margin: auto;
    vertical-align: middle;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(112, 105, 105);
}
#fontLast{
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 0px;
    font-weight:600;
}
#line{
    margin-top: 0px;
    width: 22%;
    margin: auto;
    vertical-align: middle;
    font-weight: 600;
}

#boxSize2{
    margin-top: 200px;
    margin-left: 515px;
    position: absolute;
    height: 350px;
    width: 260px;
}
#boxSize3{
    margin-top: 300px;
    margin-left: 795px;
    position: absolute;
    height: 350px;
    width: 260px;
}
#boxSize4{
    margin-top: 200px;
    margin-left: 1075px;
    position: absolute;
    height: 350px;
    width: 260px;
}


#withinDiv{
    
    margin: auto;
    vertical-align: middle;
}
.boxes{
    display: flex;
    flex-direction: column;
}
.lightGrey{
    background-color: #f5f7fa;
}
#measurement{
    height: 370px;
}
#align{
    margin-left: 23%;
    margin-right: 20%;
    font-size: 45px;
    width: 900px;
    font-weight: 650;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.flexOne{
    display: flex;
    height: 400px;
    background-color: #f0f3fe;
    justify-content: center;
 

    
}
#withInFlex{
   margin-top: 90px;
    height: 240px;
    width: 500px;
    margin-left: 50px;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;}

.flexTwo{
    display: flex;
    
}
#imgFour{
    width: 25%;
}

#flexThree{
    display: flex;
    
    height: 500px;
    justify-content: center;
    width: 70%;
    margin: auto;

}
#forMargin{
    margin-right: 40px;
    width: 1100px;
}

#text{
    margin-top: 130px;
    
    
    margin-right: 80px;
    font-size: 35px;
    font-weight: bold;
    width: 500px;



}
#paragraph{
    font-size: 20px;
    color: black;
}

.blueColor1{
    background-color:  #6c8ff7;
}

#text2{
    width: 700px;
   
    margin-top: 60px;
    margin-bottom: 60px;
    
    
    
    
}
#forH4{
    margin-left: 40px;
    margin-top: 40px;
    color: white;

}
#top{
    margin-right: 100px;
    margin-top: 30px;
    font-size: 22px;
}
#points{
    font-size: 17px;
}

#contact{
    display: flex;
   
    width: 90%;
    
    flex-grow: 1;

}
#number{
    width: 50%;
   
    

}
#nmbr{
    margin-left: 230px;
    color:#6585e7;
    font-size: 40px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold; 
    margin-top: 0px;  
}
#nmbr3{
    margin-left: 230px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 24px;
}

#nmbr2{
    font-size: 25px;
    margin-right: 200px;
    margin-top: 0px;
    color: rgb(112, 105, 105);
    word-spacing: 20px;
    line-height: 30px;

}

#lastDiv{

    display: flex;
    height: 280px;
    
    width: 80%;
    justify-content: center;
    margin: auto;
    flex-grow: 1;

}
#img321{
    margin-left: 10px;
    
height: 250px;
}
#img123{
    
width: 230px;
  height: 250px;

}

#footer{
    display: flex;
    flex-direction: column;
    background-color: #333333 ;
    height: 200px;
}
#footer1{
   margin-top: 40px;
    margin-left: 45%;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 19px;
}

#footer2{
    margin-top: 40px;
    margin-left: 48%;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 19px;
}







