#header{
    margin: auto;
    width: 80%;
}

#circle{
    width: 60px;
    height: 60px;
    border-radius: 60px;
    background: #064684;
 
}
.heading{
    vertical-align: middle;
}

.i-block{
    display: inline-block;
    vertical-align: middle;
    margin: auto;
}



.fontType{
    font-family: Arial, Helvetica, sans-serif;
    color: #064684;
    font-weight: bold;
}
ol, li{
display: inline-block;
font-family: Arial, Helvetica, sans-serif;
color: #064684;
font-weight: bold;
margin-left: 10px;
}

#space{
    margin-left: 300px;
}

#button{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #064684;
    color: oldlace;
    font-weight: bold;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-left: 10px;
    border: 0px;
    display: inline-block;
    width: 150px;
}

#img{
    width: 100%;
    height: 500px;
    border: 0px;
}

#belowtheImg{

    width: 100%;
    height: 90px;
    background-color:#117de9 ;
    margin-top: -10px; ;
   
    

    
    
}

#class1{
    
    
    margin: auto;
    width: fit-content;
}
.b-block{
    display: inline-block;
    
    margin-left: 50px;
    
}
#c-block{
margin-top: 30px;
vertical-align: middle;
display: inline-block;
color: white;
}
#flex{
    display: flex;
    justify-content: center;
    font-size: 35px;
    align-items: center;
    height: 150px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    
}

#btn{
    background-color:#117de9 ;
    color: white; 
    height: 40px;
    width: 120px;
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border: 0px;
}

 
#line{
    width: 80%;
    
}

/* #main{
    display: flex;
    border: 1px solid red;
    height: 500px;
    width: 100%;
    justify-content: center;
    
} */


#secondMain{
    display: flex;
    border: 1px solid white;
    justify-content: center;
    
    width: 100%;
}

#imgOne{
    border: 4px solid white;
    width: 418px;
    height: 400px;
    
    
  
}
#img1{
  width: 418px;
  height: 200px;
}
.fontType2{
    
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    margin-left: 20px;
    
}
.thinBorder{
    box-shadow:3px 3px 3px 3px lightgrey;
}

.belowPics{
    display: flex;
}
#texthead{
    font-size: 30px;
    color:#117de9 ;
}

#btn1{
    background-color:#117de9 ;
    color: white; 
    height: 40px;
    width: 170px;
    
    font-family: Arial, Helvetica, sans-serif;
    
    border: 0px;
}

#withImg{
    background-color: rgb(246, 227, 227);
    width: 100%;
    padding-top: 100px;
    padding-left: 60px;
    padding-right: 400px;
    font-family: Arial, Helvetica, sans-serif;
    
}

#secondLast{
    background-color: #117de9 ;
    width: 100%;
    height: 100px;
    display: flex;
    
    color: white;   
   flex-direction: column;
   justify-content: center;
   
   padding-top: 0px;
}
#detail{
    font-size: 20px;
}
#align{
    margin-left: 630px;
}

.foot{
    background-color: #064684;
    height: 80px;
    width: 100%;
}